.index-profile-container {
  display: flex;
  justify-content: center;
}
.edit-profile-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: solid #2a2828;
  border-radius: 6px;
  box-shadow: 10px 10px 5px;
  padding-bottom: 40px;
  width: 400px;
}

#edit-profile-btn {
  border-radius: 6px;
  background-color: #2a2828;
  color: white;
  font-size: 16px;
  margin-top: 25px;
  font-weight: bold;
}

#avatar-img {
  width: 75px;
  height: 75px;
}