.index-container{
  border: solid rgb(61, 70, 61);
  border-radius: 6px;
  box-shadow: 10px 10px 5px;
  padding: 50px;
  width: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.all-budget-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

#details-btn, #delete-btn {
  font-size: 16px;
  border-radius: 6px;
  background-color: rgb(61, 70, 61);
  color: white;
  font-weight: bold ;
  padding: 8px;
  width: 75px;
}

#title-index {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 25px;
}

table {
  font-size: 20px;
}

table thead th {
  padding: 10px;
  border-bottom: 2px solid #424748;
}

table td {
  padding: 15px;
  text-align: center;
}

#list td:nth-child(2),
#list td:nth-child(3) {
  min-width: 100px;
}