
#new-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#name-input, #income-input, #month-input, #purpose-textarea{
  margin: 0 0 50px 0;
}

#add-budget-btn {
  border-radius: 6px;
}