.new-form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: space-evenly;
  text-align: center;
  margin-top: 10px;
  border: solid rgb(61, 70, 61);
  border-radius: 6px;
  box-shadow: 10px 10px 5px;
}

#new-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#name-input, #income-input, #month-input, #purpose-textarea{
  margin: 0 0 50px 0;
}

#add-budget-btn {
  font-size: 16px;
  border-radius: 6px;
  background-color: rgb(61, 70, 61);
  color: white;
  font-weight: bold ;
}