
#new-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#name-input, #income-input, #month-input, #purpose-textarea{
  margin: 0 0 50px 0;
}

#add-budget-btn {
  font-size: 16px;
  border-radius: 6px;
  background-color: rgb(61, 70, 61);
  color: white;
  font-weight: bold ;
}