.show-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.expense-field-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

#title {
  margin: 20px;
  font-size: 36px;
  font-weight: bold;
}

.show-budget-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.budget-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

#edit-btn {
  margin-top: 10px;
}

#goal-show {
  font-weight: bold;
}

.expense-goal-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.goal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid #2a2828;
  border-radius: 6px;
  box-shadow: 10px 10px 5px;
  padding: 20px;
  text-align: center;
}

#purpose-show {
  margin: 2px 0 0 5px ;
  font-size: 18px;
}

.budget-income-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#budget-income {
  font-size: 48px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-expense-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  border: solid #2a2828;
  border-radius: 6px;
  box-shadow: 10px 10px 5px;
  width: 200px;
  margin-left: 50px;
}

#add-expense{
  font-size: 18px;
  font-weight: bold;
  padding: 15px;
  padding-bottom: 15px;
}

#add-expense-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#expense-input, #expense-type-input, #cost-input {
  border-radius: 6px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
}

#edit-btn, #add-expense-btn, #delete-expense-btn, #edit-expense-btn {
  font-size: 16px;
  border-radius: 6px;
  background-color: #2a2828;
  color: white;
  font-weight: bold ;
}

#add-expense-btn {
  margin: 15px;
  font-size: 12px;
}

.expense-table-container {
  border: solid #2a2828;
  border-radius: 6px;
  box-shadow: 10px 10px 5px;
  margin-top: 25px;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
}

table {
  font-size: 20px;
}

table thead th {
  padding: 5px;
  border-bottom: 2px solid #2a2828;
}

table td {
  padding: 10px;
  text-align: center;
}

#list td:nth-child(2),
#list td:nth-child(3) {
  min-width: 100px;
}