.expense-field-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

#title {
  margin: 20px;
  font-size: 36px;
  font-weight: bold;
}

.budget-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

#edit-btn {
  margin-top: 10px;
}

.goal-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#purpose-show {
  margin: 2px 0 0 5px ;
}

.budget-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


#edit-btn, #add-expense-btn, #delete-expense-btn, #edit-expense-btn {
  font-size: 16px;
  border-radius: 6px;
  background-color: rgb(61, 70, 61);
  color: white;
  font-weight: bold ;
}

table {
  font-size: 20px;
}