<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<main>
  <h1><%= title %></h1>
  <form id="new-form" action="/budgets" method="POST">
    <label for="name-input">Name of Budget:</label>
    <input type="text" name="name" id="name-input">
    <label for="income-input">Monthly Budget Amount:</label>
    <input type="text" name="income" id="income-input">
    <label for="purpose-textarea">Purpose/Goal:</label>
    <input type="textarea" name="purpose" id="purpose-textarea">
    <button type="submit">Add Budget</button>
  </form>
</main>

<%- include('../partials/footer') %>